body {
  font-family: sans-serif;
  /* background: linear-gradient(45deg, rgba(228, 229, 29, 1), rgba(89, 187, 222, 1), rgba(151, 40, 177, 1), rgba(186, 99, 0, 0.1), rgba(125, 169, 74, 1) 100%); */
  background: linear-gradient(
    80deg,
    rgb(216, 129, 59),
    #d4ef4a,
    rgba(191, 99, 164, 0.96),
    rgb(16, 95, 243),
    rgb(244, 70, 133, 0.5),
    rgb(252, 203, 19),
    rgba(191, 99, 164, 0.96),
    rgb(16, 95, 243)
  );
}
a {
  text-decoration: none;
}
label {
  display: block;
}
nav a {
  display: inline-block;
  margin: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(12, 12, 12, 0.6);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(212, 209, 209, 0.459);
  font-size: 24px;
  -webkit-text-stroke: 1px #23430c;
  text-shadow: -1px 1px 2px #23430c, 1px 1px 2px #23430c, 1px -1px 0 #23430c,
    -1px -1px 0 #23430c;
}
form div {
  margin: 1em;
  display: inline-block;
}

.cartAddSubtractButton {
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  width: 40px;
}

.flex-container {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: top;
  font-size: 12px;
  margin: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-size: 12px;
  margin: 20px;

  /* color: white; */
}
.flex-cart {
  /* min-height: 100vh; */

  /* background-color: #282c34; */

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: top;
  font-size: 12px;
  margin: 20px;
}
.navstuff {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(12, 12, 12, 0.6);
  font-size: 200px;
}
.flex-cart button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(12, 12, 12, 0.6);

  border: 3px rgb(104, 103, 103, 0.5) solid;

  margin: 10px;
  flex: 1;
}

/* .all-h1 {
  align-content: center;
} */

h1 {
  background: transparent;
  border: 0.5rem outset pink;
  outline: 0.5rem dotted rgb(226, 212, 86);
  text-align: center;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  color: rgb(83, 82, 82);
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(212, 209, 209, 0.459);
  font-size: 40px;
  -webkit-text-stroke: 1px #23430c;
  text-shadow: -1px 1px 2px #23430c, 1px 1px 2px #23430c, 1px -1px 0 #23430c,
    -1px -1px 0 #23430c;
}

.flex-container div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  justify-content: center;
  border: 0.5rem outset rgb(82, 115, 221);

  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: top;
  font-size: 12px;
  padding: 30px;
  margin: 20px;
  /* outline: 0.5rem dotted rgb(226, 212, 86); */

  /* flex: 1; */
  /* display: flex;
  flex-direction: column; */
  /* align-content: space-between; */
}
